/* ------------------------------------------------------ */
/* Text                                                   */
/* ------------------------------------------------------ */
td
   {
   font-family:"NSimSun"; font-size:9pt;
   }
div
   {
   font-family:"NSimSun"; font-size:9pt;
   }
span
   {
   font-family:"NSimSun"; font-size:9pt;
   }
th
   {
   font-family:"NSimSun"; font-size:9pt;
   }
